<main xmlns="http://www.w3.org/1999/html">
  <mat-toolbar>
    <span>Tanzu Platform Chat</span>
    <span style="flex:1 1 auto"></span>
  </mat-toolbar>

  <app-chat-panel
    [metrics]="metrics()">
  </app-chat-panel>
  <app-document-panel
    [metrics]="metrics()"
    (documentIdsChanged)="onDocumentIdsChanged($event)">
  </app-document-panel>
  <app-agents-panel
    [metrics]="metrics()">
  </app-agents-panel>
  <app-memory-panel
    [metrics]="metrics()">
  </app-memory-panel>

  <app-chatbox
    [metrics]="metrics()"
    [documentIds]="currentDocumentIds()">
  </app-chatbox>
</main>
