<main xmlns="http://www.w3.org/1999/html">
  <mat-toolbar>
    <span>AI Tool Chat</span>
    <span style="flex:1 1 auto"></span>
  </mat-toolbar>

  <app-chat-panel
    [metrics]="metrics">
  </app-chat-panel>
  <app-document-panel
    [metrics]="metrics"
    (documentSelected)="onDocumentSelected($event)">
  </app-document-panel>
  <app-agents-panel
    [metrics]="metrics">
  </app-agents-panel>
  <app-memory-panel
    [metrics]="metrics"
    (conversationIdChanged)="updateConversationId($event)">
  </app-memory-panel>

  <app-chatbox [documentId]="currentDocumentId"></app-chatbox>
</main>
