/* Toolbar CSS */
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 64px;
}

/* Main content wrapper */
main {
  padding-top: 64px; /* Same as toolbar height */
  height: 100vh;
  box-sizing: border-box;
}

/* Chat CSS */
.chatbox {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* Adjust the top position to account for toolbar */
  top: 64px; /* Set explicitly to toolbar height */
  padding: 15px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* Add z-index to ensure it stays below the toolbar */
  z-index: 1;
}

.chatbox-messages {
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 10px;
}

.chat-message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word;
}

.chat-message.user {
  margin-left: auto;
  text-align: right;
}

.chat-message.bot {
  margin-right: auto;
  text-align: left;
}

.chatbox-footer {
  margin-bottom: 15px;
}

.chatbox-footer input {
  flex-grow: 1;
}

/* Typing CSS */
.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
