@use '_theme-colors' as cfpulse-theme;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: cfpulse-theme.$primary-palette,
      tertiary: cfpulse-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
