<div class="document-container">
  <button mat-icon-button class="toggle-button" (click)="toggleSidenav()">
    <mat-icon>description</mat-icon>
  </button>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true">
    <div class="sidenav-header">
      <h2>Documents</h2>
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="upload-container">
      <button mat-raised-button color="primary" (click)="fileInput.click()" [disabled]="isUploading">
        <mat-icon>upload</mat-icon> Upload File
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".pdf,application/pdf">

      <!-- Upload progress indicator -->
      <div *ngIf="isUploading" class="upload-progress-container">
        <div class="file-name">Uploading: {{ currentFileName }}</div>
        <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
        <div class="progress-percentage">{{ uploadProgress }}%</div>
      </div>
    </div>

    <div class="documents-list">
      <h3>Uploaded Files</h3>

      <div class="empty-state" *ngIf="documents.length === 0">
        No documents uploaded yet
      </div>

      <mat-list>
        <mat-list-item *ngFor="let doc of documents">
          <mat-icon matListItemIcon>insert_drive_file</mat-icon>
          <div matListItemTitle>{{ doc.name }}</div>
          <div matListItemLine>{{ doc.size | fileSize }}</div>
          <!--          <button mat-icon-button (click)="deleteDocument(doc.id)">-->
          <!--            <mat-icon>delete</mat-icon>-->
          <!--          </button>-->
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- This is intentionally empty -->
  </mat-sidenav-content>
</mat-sidenav-container>
